/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

h2{
  text-align: center;
  color:#ddd ;
  font-family: calibri;
  font-size: 50px;
  text-decoration: underline;
}

input.rating{
  width: 50px;
  height: 50px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: calibri;
}

.courses{
  background-color: rbg(154,154,154);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.hp-nav {
  background-color: #105ba1;
  color: white;
}

body{
    background-color: gray;
}

.alumni{
  background-color: rgb(75, 194, 75);
  height: 50px;
  width: 200px;
}

.tips{
  background-color: rgb(56, 129, 189);
  height: 50px;
  width: 200px;

}

.feedback{
  background-color: rgb(195, 219, 87);
  height: 50px;
  width: 200px;
}

button{
  font-size: 30px;
  font-family: Cochin;
}

label{
  font-size: 25px;
}
